# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE files
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Web
web/.dart_tool/
web/build/

# Firebase
lib/firebase_options.dart

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
